#Пререквизиты:
*.d

#Скомпилированные объектные файлы:
*.slo
*.lo
*.o
*.obj

#Предварительно скомпилированные заголовки
*.gch
*.pch

#Скомпилированные динамические библиотеки
*.so
*.dylib
*.dll

#Файлы резервных копий редактора
*~
.*.swp

#Скомпилированные статические библиотеки
*.lai
*.la
*.a
*.lib
#Исполняемые файлы
*.exe
*.out
*.app
*.ELF

#файлы сборки(для лаб они не нужны но будут полезны если решите изучать плюсы и тулинг для них дальше)
.ninja_*
.ninja
CMakeFiles/*
Testing/*
.cmake/*
CMakeCache.txt
build_ninja
cmake_install.cmake
